---
title: React.js Starter Kit
component: ContentPage
---
div
  div
    h3 Cache 分类
    dl
      dt
        a(href="http://localhost:5000/http-cache") Http Cache
      dd 利用Http Header来控制浏览器应该如何缓存资源
      dt
        a(href="http://localhost:5000/manifest") Manifest
      dd 利用Manifest新标准来通知浏览器缓存资源
  div
    h3 JS编译器Cache
    dl
      dt <a href="http://webpack.github.io/">词法解析</a>
      dd 动态演示JS引擎是如何对一条语句进行动态的词法解析的
      dt <a href="http://www.browsersync.io/">字节码</a>
      dd JS语句是如何被转换成字节码的
      dt <a href="http://www.browsersync.io/">JIT</a>
      dd 详解JIT的运行机制以及运行时机
  div
    h3 Fork me on GitHub
    p <a href="https://github.com/materliu/web-cache-speech-auxiliary-program.git">github.com/materliu/web-cache-speech-auxiliary-program</a>
