---
title: React.js Starter Kit
component: ContentPage
---
div
  div
    h3 Cache 分类
    dl
      dt
        a(href="http://localhost:5000/http-cache") Http Cache
      dd 利用Http Header来控制浏览器应该如何缓存资源
      dt
        a(href="http://localhost:5000/manifest") Manifest
      dd 利用Manifest新标准来通知浏览器缓存资源
  div
    h3 JS编译器Cache
    dl
      dt <a href="http://webpack.github.io/">Webpack</a>
      dd Compiles front-end source code into modules / bundles
      dt <a href="http://www.browsersync.io/">BrowserSync</a>
      dd A lightweight HTTP server for development
  div
    h3 Fork me on GitHub
    p <a href="https://github.com/kriasoft/react-starter-kit">github.com/kriasoft/react-starter-kit</a>
